.menu a
{
  text-decoration:none;
  display:block;
  width:60px;
}
.menu ul
{
    list-style: none;
    display: block;
}

.menu li
{
 
  display:block;
  width:90px;
  height:0px;
  padding-left:10px;
  padding-top:80px;
  float:left;
}
.icon
{
   width: 150px;
   height:100px;
   
   float:left;
}
.header
{
   width: 980px;
   height:150px;
   margin-left:120px;
   padding-left:50px;
   background-color:#FF0000;
}
